.text-gold {
    color: var(--buffel-gold);
}

.card-product {
    border-radius: 12px;
    overflow: hidden; 
    transition: transform 0.2s ease-in-out;
}

.card-product:hover {
    transform: translateY(-5px); 
}

/* Ajuste de la imagen */
.card-product .card-img-top {
    height: 180px;
    object-fit: cover; 
}

.price-tag {
    color: var(--buffel-gold);
    font-weight: bold;
    font-size: 1.1rem;
}

body {
    background-color: #042617; 
}

.category-header {
    border-left: 5px solid var(--buffel-gold); 
    padding-left: 15px;
    margin-top: 3rem !important; 
}

.btn-gold {
    background-color: #D4AF37;
    color: white;
    border: none;
}

.btn-gold:hover {
    background-color: #b8962e;
    color: white;
}

.btn-add-float {
    position: absolute;
    bottom: -15px;
    right: 15px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    transition: transform 0.2s;
}

.btn-add-float:hover {
    transform: scale(1.1);
}

.btn-outline-success {
    border-color: #042617;
    color: #042617;
}

.btn-outline-success:hover {
    background-color: #042617;
    border-color: #042617;
}

.card-product .card-text {
    min-height: 40px; 
    margin-bottom: 15px;
}